extends layout

block content
  h1  You are logged in. Enter the patient's stats
  form(action='users/process' method='POST')  
    |Name: 
    input(type='text' name='name')    
    br
    |Heart-rate: 
    input(type='text' name='bpm')    
    br
    |BP - systolic: 
    input(type='text' name='bps')    
    br
    |BP - diastolic: 
    input(type='text' name='bpd')
    br
    input(type='submit' value='Monitor')

